<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Achareh</title>
</head>
<body dir="rtl">
    <div id="app">
        <div class="header">
            <div class="left" style="color:rgb(51,255,255)">آچاره</div>
            <div class="right">
                <nav class="navlink">
                    <ul class="ul-menu">
                        <button class="li-menu" @click="sabt()">ثبت ادرس جدید</button>
                        <button class="li-menu" @click="showInfo()">مشاهده ادرس ها</button>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="register">
            <div class="container">
                <h2 v-if = "!informationPage" >ثبت آدرس </h2>
                <h2 v-if = "informationPage">آدرس ها و مشخصات</h2>
                <form v-if = "passedFormPage" class="form-register">
                    <h4>لطفا مشخصات وآدرس خود را وارد نمایید</h4>
                    <div class="form-group">
                        <label for="email">نام</label>
                        <input type="text" class="form-control" placeholder="مثال : حسین" v-model="name" >
                        <p class="danger" v-if="name.length < 3 ? true : false">حداقل 3 حرف وارد نمایید</p>
                    </div>
                    <div class="form-group">
                        <label for="pwd">نام خانوادگی</label>
                        <input type="text" class="form-control" placeholder="مثال : سیم چی" v-model="lastName">
                        <p class="danger" v-if="lastName.length < 3 ? true : false">حداقل 3 حرف وارد نمایید</p>
                    </div>
                    <div class="form-group">
                        <label for="pwd">شماره تلفن همراه</label>
                        <input type="text" class="form-control" placeholder="مثال : 09351996829" v-model="phoneNumber" >
                        <p class="danger" v-if="phoneNumber.length < 11 ? true : false">حداقل 11 شماره وارد نمایید</p>
                    </div>
                    <div class="form-group">
                        <label for="pwd">شماره تلفن ثابت</label>
                        <input type="text" class="form-control" placeholder="مثال : 02133059382" v-model="homeNumber">
                        <p class="danger" v-if="homeNumber.length < 11 ? true : false">حداقل 11 شماره وارد نمایید</p>
                    </div>
                    <div class="form-group">
                        <label for="pwd"> آدرس </label>
                        <input type="text" class="form-control" v-model="address">
                        <p class="danger" v-if="address.length < 10 ? true : false">حداقل 10 حرف وارد نمایید</p>
                    </div>
                    <button type="button"  class="btn btn-default" @click="postData()">ثبت و ادامه</button>
                </form>
                <div v-if = "passedGooglePage" class="google-map">
                    <div class="map" id="map">برای دریافت API_KEY باید ثبت نام کرد و سایت بدون فیلترشکن باز نمی شود درنتیجه برای دریافت باید مشخصات شهر فیلترشکن را وارد کرد و بعد به همین دلیل مشخصاتی از قبیل کارت بانکی و .. را میخواهد که ممکن نیست. همچنین مکان ایران جهت انتخاب موجود نبود. برای درخواست ذخیره و دریافت اطلاعات از API داده شده هم هربار با ارورهای مختلف رو به رو شدم که متاسفانه نشد تا با API ارتباط برقرار کنم. و لذا برای ذخیره ادرس و مشخصات از لیست ها استفاده کرده ام. ولی کدهای مربوط به GOOGLE MAP و API را به صورت کامنت در قسمت SCRIPT.JS قرار داده ام. متشکرم</div>
                    <button type="button" class="btn btn-default" @click = "mapInfoFunction()">ثبت و ادامه</button>
                </div>
                <div v-if = "informationPage" class="card" v-for="item in userInfo">
                    <div class="card-body" >
                      <p class="card-text">نام : {{item.name}}</p>
                      <p class="card-text">نام خانوادگی : {{item.lastname}}</p>
                      <p class="card-text">شماره موبایل : {{item.phoneNumber}}</p>
                      <p class="card-text">شماره تلفن ثابت : {{item.homeNumber}}</p>
                      <p class="card-text">آدرس : {{item.address}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./script.js"></script>
</body>
</html>